body{
    background-image: url("space.gif");
    color: #080A15;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    background-position: center;
    font-family: Orbitron,sans-serif;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
     min-height: 100vh;
}
.btn{
    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: bold;
    font-family: inherit;
}
.btn:hover{
    background-color: transparent;
    color: white;
    transform: scale(1.1);
}
#underline{
    text-decoration: underline;
}
#title{
    text-shadow: 0px 0px 4px ;
}